<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Built-In Directives: ngRepeat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <style>
        pre,
        xmp{
            white-space: pre-line !important;
        }
    </style>
</head>

<body class="container-fluid" ng-app="exampleModule">
    <h1>Built-In Directives: ngRepeat</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>HTML</h2>
            <pre ng-non-bindable="">
                <code>
                    <xmp>
                    <h3>Kittens & Reactions</h3>
                    <div ng-repeat="kitten in $ctrl.kittens">
                        {{kitten.name}} -> {{kitten.cuteness}}
                    </div>
                    </xmp> 
                </code>
            </pre>
            <h2>JavaScript</h2>
            <pre>
                <code>
var exampleModule = angular.module('exampleModule',[]);
exampleModule.controller('exampleController', function() {

    var $ctrl = this;

    $ctrl.kittens = [{
        name: "Mittens",
        cuteness: "meh -_-"
    },
    {
        name: "Snowball",
        cuteness: ":D"
    },
    {
        name: "Daisy",
        cuteness: "(♥_♥)"
    }];
});
                </code>
            </pre>
        </div>
        <div class="col-md-6">
            <h2>Outcome</h2>
            <pre ng-controller="exampleController as $ctrl">
                <h3>Kittens & Reactions</h3>
                <div ng-repeat="kitten in $ctrl.kittens">
                    {{kitten.name}} -> {{kitten.cuteness}}
                </div>
            </pre>
        </div>
    </div>

</body>

<script type="text/javascript">
    var exampleModule = angular.module('exampleModule',[]);
    exampleModule.controller('exampleController', function() {
        var $ctrl = this;

        $ctrl.kittens = [{
            name: "Mittens",
            cuteness: "meh -_-"
        },{
            name: "Snowball",
            cuteness: ":D"
        },
        {
            name: "Daisy",
            cuteness: "(♥_♥)"
        }];
    });
</script>


</html>