<!DOCTYPE html>
<html lang="en">

<head>
    <!--

    (☞ﾟ∀ﾟ)☞

    Hey there,

    Feel free to have a look around.
    Some tricks with jquery were used to get the highlighting working. Otherwise, jQuery could've been left out of these examples.

    html escaper for examples : http://www.freeformatter.com/html-escape.html#ad-output

    Cheers
    Matt & Darko

    ¯\(º_o)/¯

    -->
    <meta charset="utf-8">
    <title>Web Requests: $http - GET</title>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/highlight.js/9.5.0/styles/github.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/presentation.css" />
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8="
        crossorigin="anonymous"></script>
    <script src="http://cdn.jsdelivr.net/highlight.js/9.5.0/highlight.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <style>
        pre {
            white-space: pre-line;
            background-color: #f8f8f8;
            font-size: 14pt;
        }

        pre code {
            background-color: transparent;
        }
    </style>
</head>

<body class="container iframe-content" ng-app="exampleModule">
    <h1><span class="just-highlight">$http</span> GET</h1>
    <br /><br />
    <div class="row">
        <div class="col-md-12">
            <h2>HTML</h2>
            <pre ng-non-bindable="">
                <code>
&lt;table class=&quot;table table-condensed&quot;&gt;
    &lt;thead&gt;
        &lt;th&gt;Name&lt;/th&gt;
        &lt;th&gt;City&lt;/th&gt;
        &lt;th&gt;Reference&lt;/th&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr ng-if=&quot;!$ctrl.noResults&quot; ng-repeat=&quot;supplier in $ctrl.suppliers&quot;&gt;
            &lt;td&gt;{{supplier.name}}&lt;/td&gt;
            &lt;td&gt;{{supplier.city}}&lt;/td&gt;
            &lt;td&gt;{{supplier.reference}}&lt;/td&gt;
        &lt;/tr&gt;
        &lt;tr ng-if=&quot;$ctrl.noResults&quot;&gt;
            &lt;td colspan='3'&gt;No results to show.&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;
                </code>
            </pre>
        </div>
    </div>
</body>

<!--
This is just the highlighting init. Ignore this.   ┐( ˘_˘)┌
-->
<script type="text/javascript">
    $(document).ready(function() {
        hljs.configure({ 'languages': ['html', 'javascript'] });
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>


</html>
